xml-apps/src/main/java/emp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/emp"
	xmlns:tns="http://www.example.org/emp" elementFormDefault="qualified">

	<element name="emp">
		<complexType>
			<sequence>
				<element name="empId" type="integer" />
				<element name="name">
					<complexType>
						<sequence>
							<element name="first-name" type="string" />
							<element name="last-name" type="string" />
						</sequence>
					</complexType>
				</element>
				<element name="location" type="string" />
				<element name="salary" type="double" />
			</sequence>
		</complexType>
	</element>
</schema>